

header img{
    width: 5vw;
    height: 5vw;
  }

header {
    position: fixed;
    padding: 2vw;
    background: rgba(0,0,0,0);
    left: 0;
    right: 0;
    top: 0;
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

header button {
    height: 5vw;
    width: 15vw;
    z-index: 2;
}