

#rectangle {
    --edge-size: 20%;

    border-radius: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255,.25);

    width: 15vw;
    height: 15vw;

    clip-path: polygon(
      var(--edge-size) 0%,
      100% 0,
      100% 100%,
      0 100%,
      0% var(--edge-size)
    );
}

#inner {

    border-radius: 10%;
    background: rgba(0, 0, 0, 0.5);

    width: 98%;
    height: 98%;

    clip-path: polygon(
      var(--edge-size) 0%,
      100% 0,
      100% 100%,
      0 100%,
      0% var(--edge-size)
    );
}